<% title = "Contact" %>

<h1><%=title%></h1>

<div class="ui form">
    <div class="inline field">
        <label class="ui label">Email</label>
        jgpuauno(at)gmail.com
    </div>
    <div class="inline field">
        <label class="ui label">Socials</label>
        <a href="https://www.facebook.com/hitoshi.wada.5"><i class="facebook big icon"></i></a>
        <a href="https://twitter.com/hitokuns"><i class="twitter big icon"></i></a>
        <a href="https://github.com/hitokun-s"><i class="github big icon"></i></a>
    </div>
</div>