<% modules.push("font-awesome"); %>

<% title = "Top" %>

<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
      type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>

<div class="ui doubling stackable labeled icon menu">
    <a href="/demo" class="item">
        <i class="student icon"></i>
        Demos
    </a>
    <a href="/viz" class="item">
        <i class="bar chart icon"></i>
        Viz
    </a>
    <a href="/movie" class="item">
        <i class="video camera icon"></i>
        Movies
    </a>
    <a href="/music" class="item">
        <i class="music icon"></i>
        Musics
    </a>
    <a href="/project" class="item">
        <i class="lab icon"></i>
        Projects
    </a>
    <a href="/game" class="item">
        <i class="game icon"></i>
        Games
    </a>
    <a href="/tool" class="item">
        <i class="configure icon"></i>
        Tools
    </a>
    <a href="/watch" class="item">
        <i class="wait icon"></i>
        Watches
    </a>
    <a href="/helloworld" class="item">
        <i class="trash icon"></i>
        HelloWorld
    </a>
    <a href="/garbage" class="item">
        <i class="trash icon"></i>
        Garbages
    </a>
</div>