<% modules.push("angular"); %>
<% modules.push("deep-diff"); %>
<% modules.push("jsondiffpatch"); %>

<% title = "Double Choice Radio Button Group" %>
<% description = "Double Choice Radio Button Group" %>
<%- partial("../modules/_view-source") %>

<h1><%= title %></h1>

<h3>Jquery way</h3>
<div>
    <input type="radio" name="rd1" class="rd"/>
    <input type="radio" name="rd2" class="rd"/>
    <input type="radio" name="rd3" class="rd"/>
    <input type="radio" name="rd4" class="rd"/>
    <input type="radio" name="rd5" class="rd"/>
</div>
<script>
    $(function () {
        $(".rd").click(function () {
            var res = $(".rd").filter(function (i, v) {
                return v.checked;
            });
            console.log(res);
            if (res.length > 2) {
                $(".rd").prop("checked", false);
                this.checked = true;
            }
        });
    });
</script>

<h3>Angular way</h3>

<div ng-app="myApp">
    <div ng-controller="myController">
        <p>Compared objects</p>
        <div ng-repeat="color in colors">
            {{color | json}}
        </div>

        <label ng-repeat="color in colors">
            <input type="radio" ng-model="selection[$index]" ng-value="color" ng-click="hoge($index)">
            {{color.id}}
        </label>
        <br>
        <button class="ui button" ng-disabled="compared.length != 2" ng-click="compare()">compare!</button>
        <div ng-bind-html="diffHtml"></div>
    </div>
</div>

<script>
    angular.module('myApp', [])
            .controller('myController', ['$scope', '$sce', function ($scope, $sce) {
                $scope.colors = [
                    {
                        id: 1,
                        code: "red",
                        old: 23,
                    },
                    {
                        id: 2,
                        code: "green",
                        old: 23,
                    },
                    {
                        id: 3,
                        code: "green",
                        old: 46,
                    }
                ];
                $scope.selection = [null, null, null];
                $scope.compared = [];
                $scope.hoge = function (index) {
                    var selected = $scope.selection.filter(function (v) {
                        return v;
                    });
                    var count = selected.length;
                    if(count != 2){
                        $scope.compared = [];
                        $scope.diffHtml = null;
                    }
                    if (count > 2) {
                        $scope.selection.forEach(function (v, i) {
                            if (v && i != index) {
                                $scope.selection[i] = null;
                            }
                        });
                    }else if(count == 2){
                        $scope.compared = selected;
                    }
                }
                $scope.compare = function(){

                    var delta = jsondiffpatch.diff($scope.compared[0], $scope.compared[1]);
                    $scope.diffHtml = $sce.trustAsHtml(jsondiffpatch.formatters.html.format(delta));

                    var differences = DeepDiff($scope.compared[0], $scope.compared[1]);
                    console.log(differences);
                }
            }]);
</script>