<%- include('../_lib') %>
<% title = "Infographic Components for canvas" %>
<% dependsOn(title, []); %>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>

</style>

<h1><%=title%></h1>

<canvas id="canvas" width="240px" height="260px">
    Your browser does not support HTML5 canvas.
</canvas>

<script type="text/javascript">
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    
    var drawScore = function(score, x, y){
        
        var lColor,dColor;
        if(score >= 0){
            lColor = "#c0e072";
            dColor = "#91c532";
        }else{
//            lColor = "#ed7d3e";
            lColor = "rgb(241,151,101)";
            dColor = "#e55d27";
        }
        
        ctx.fillStyle = lColor;
        ctx.fillRect(x, y - 15, 80, 15);

        ctx.fillStyle = "#ffffff";
        ctx.font = "Bold 14px Roboto";
        ctx.fillText((score >= 0 ? "+" : "-") + Math.abs(score) + "%", x + 20, y - 2);

        // arrow box
        ctx.fillStyle = dColor;
        ctx.fillRect(x, y - 15, 15, 15);
        ctx.strokeStyle = lColor;
        ctx.lineWidth = 3;
        ctx.beginPath();
        
        if(score >= 0){
            ctx.moveTo(x + 7.5, y - 2);
            ctx.lineTo(x + 7.5, y - 13);
            ctx.stroke();
            ctx.moveTo(x + 2, y - 7.5);
            ctx.lineTo(x + 7.5, y - 13);
            ctx.lineTo(x + 13, y - 7.5);
            ctx.stroke();
        }else{
            ctx.moveTo(x + 7.5, y - 2);
            ctx.lineTo(x + 7.5, y - 13);
            ctx.stroke();
            ctx.moveTo(x + 2, y - 7.5);
            ctx.lineTo(x + 7.5, y - 2);
            ctx.lineTo(x + 13, y - 7.5);
            ctx.stroke();
        }
        
    };
    
    drawScore(12.34, 0, 15);
    drawScore(-12.34, 0, 35);
    
    
</script>
