
<% title = "Commentie" %>

<style>
    canvas {
        position: absolute;
    }

    #canvas {
        z-index: 1;
    }

    #canvas_bk {
        z-index: 2;
    }
</style>

<img id="tgt" src="" alt=""/>
<ul id="comments"></ul>

<div style="width:600px;height:600px;margin-left: auto;margin-right: auto;border:solid thick #000">
    <canvas id="canvas" width="600" height="600"></canvas>
    <canvas id="canvas_bk" width="600" height="600"></canvas>
</div>

<script>
    var API_URL_PHOTO = "http://api.eyeem.com/photos/:id";
    var API_URL_COMMENT = "http://api.eyeem.com/photos/:id/comments";

    //    var photoId = 76664428;
    var photoId = 58331258;
    var CLIENT_ID = "egaTWyXw1czK9XU49gIIMQdZrSySZ4US";
    //http://api.eyeem.com/photos/76664428?client_id=egaTWyXw1czK9XU49gIIMQdZrSySZ4US

    var loadImage = function (photoUrl) {
        canvas = document.getElementById('canvas');
        if (!canvas || !canvas.getContext) {
            return false;
        }
        ctx = canvas.getContext('2d');
        canvas_bk = document.getElementById('canvas_bk');
        ctx_bk = canvas_bk.getContext("2d");
        //ctx.translate(300,300);

        ctx.strokeStyle = "#000";
        //load mona lisa
        var img = new Image();
//        img.crossOrigin = "Anonymous";
//        img.src = photoUrl;
        img.src = "http://localhost:63342/hitokun-s.github.io/demo/img/gray.jpg";
        ctx.drawImage(img, 0, 0);
        ctx_bk.fillText("This is a comment", 10, 10);
    }
    $(function () {
        $.get(API_URL_PHOTO.replace(":id", photoId), {client_id: CLIENT_ID}, function (data) {
            console.log(data);
            console.log(data.photo.photoUrl);
            loadImage(data.photo.photoUrl);
//            $("#tgt").attr("src",data.photo.photoUrl);
            /// limit:2 になるのでcommentsは使えない。
//            data.photo.comments.items.forEach(function(item){
//                console.log(item.message);
//                console.log(item.user);
//            });
        });
        //　retrive comments
        $.get(API_URL_COMMENT.replace(":id", photoId), {client_id: CLIENT_ID}, function (data) {
            console.log(data.comments);
            data.comments.items.forEach(function (item) {
                console.log(item.message);
                console.log(item.user);
                $("#comments").append($("<li/>").text(item.message));
            });
        });
    });
</script>
