<% title = "vue-canvas" %>
<% dependsOn(["vue.v2"]); %>

<style>
    canvas{
        border: 2px solid black;
    }
</style>
<script type="text/javascript" src="js/vue-canvas.js"></script>

<h1><%= title %></h1>
<div id="target" class="container">
    <v-canvas id="canvas" bg="img/world.svg" width="600" height="400" :cb="hoge"></v-canvas>
</div>
<script>
  
  var vc = new Vue({
    el: '#target',
    data: {
      mes: "ABCDE!"
    },
    methods:{
      hoge: function(ctx){
        ctx.rect(20,20,100,100);
        ctx.fill();
      }
    }
  });
  
</script>

