<%
    var page;
    if(title.indexOf("About") > -1){
        page = "about";
    }else if(title.indexOf("Contact") > -1){
        page = "contact";
    }else{
        page = "home"
    }
 %>
<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item <% if(page == 'home'){%>active<%}%>">
                Home
            </a>
            <a href="/about.html" class="item <% if(page == 'about'){%>active<%}%>">
                About
            </a>
            <a href="/contact.html" class="item <% if(page == 'contact'){%>active<%}%>">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb">
        <template v-for="item in getMenu()">
            <a href="{{ item.path }}" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <%- yield %>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            }    
        },
        components: {
        }
    });
</script>