<% title = "Canvas Demos" %>

<h1><i class="student icon"></i><%= title %></h1>

<div class="row">
    <div class="ui link cards">
        <% for(var article of public.tool._data.articles){ %>
        <a href="<%= article.href %>" class="card ui raised">
            <div class="content">
                <div class="header"><%= article.header %></div>
                <div class="desciption"><%= article.desciption %></div>
            </div>
        </a>
        <% } %>
    </div>
</div>
