<% title = "ABC song by deep learning" %>

<h1><%=title%></h1>
<p>Once deep-learning understood the characteristics of letters, <br>it can generate 'medium' shape, convert one from another continuously, and even invent 'new' letters.</p>
<video controls autoplay>
    <source src="data/abc.webm">
    <source src="data/abc.mp4">
    <p>your browser does not seemd to support 'video' tag of html5.</p>
</video>

<p>Project site: <a href="https://github.com/hitokun-s/alphabetic">https://github.com/hitokun-s/alphabetic</a></p>
<p>Article: <a href="https://qiita.com/hitokun-s/items/38c0bdc3245a45fd8c29">Alien's Alphabet(Japanese)</a></p>
