<% title = "Chat UI" %>
<% dependsOn( ["bootstrap", "vue.v2", "font-awesome","underscore"]); %>

<% description = "chat UI demo" %>
<% keywords = "chat,ui" %>
<% url = "demo/chat-ui-demo.html" %>

<div class="container">
    <h1><%=title%></h1>
    <div id="app"></div>
</div>

<script src="dist/chat-ui.bundle.js"></script>