<%- include('../_lib') %>
<% title = "Pyramid graph with pattern" %>
<% dependsOn(title, ["jquery", "semantic-ui-range"]); %>

<style>
    div [class*="left floated"] {
        float: left;
        margin-left: 1em;
    }
    #range{
        width:300px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <h1><%=title%></h1>
        <div class="left floated">
            <canvas id="canvas" width="500px" height="500px">
                Your browser does not support HTML5 canvas.
            </canvas>
        </div>
        <div class="left floated">
            <p>Mountain height:</p>
            <div class="ui range" id="range"></div>
        </div>
    </div>
</div>

<script>
    $(function() {
        
        var h, ratio = 0.5;
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');

        var img = new Image();
//        img.src='img/pyramid.png';
        img.src='img/tree50.png';

        var pattern;

        img.onload = function () {
            pattern = ctx.createPattern(img,'repeat');
            draw();    
        };
        
        var draw = function(){

            ctx.fillStyle = "#57a08b";
            ctx.fillRect(0, 0, 500, 500);
            
            h = (480 - 10) * ratio;
            
            ctx.beginPath();
            ctx.moveTo(20,480);
            ctx.lineTo(250,480 - h);
            ctx.lineTo(480,480);
            ctx.fillStyle = "#6a627f";
            ctx.fill();
            ctx.fillStyle = pattern;
            ctx.fill();

            ctx.fillStyle = "rgba(40,40,40,0.3)";
            ctx.beginPath();
            ctx.moveTo(20,480);
            ctx.lineTo(250,480 - h);
            ctx.lineTo(100,480);
            ctx.fill();        
        };

        $('#range').range({
            min: 0,
            max: 100,
            start: 50,
            onChange: function(val){
                ratio = val / 100;
                draw();
            }
        });
    });
</script>