<% title = "track run graph" %>
<% dependsOn("jquery", "jquery-ui", "semantic-ui-range", "fontface-observer"); %>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
    div [class*="left floated"] {
        float: left;
        margin-left: 1em;
    }
    #range{
        width:300px;
        margin-bottom: 10px;
    }
    .slider{
        width:400px;
    }
</style>

<div class="container">
    <div class="row">
        <h1><%=title%></h1>
        <div class="left floated">
            <canvas id="canvas" width="500px" height="500px">
                Your browser does not support HTML5 canvas.
            </canvas>
        </div>
        <div class="left floated">
            <h2>Set Value:</h2>
            <div class="ui segment">
                <div class="slider"></div>
            </div>
        </div>
    </div>
</div>

<script>

    var load = function(imgPaths){
        
        var promises = imgPaths.map(function(v){
            var d = $.Deferred();
            var img = new Image();
            img.src = v;
            img.onload = function(){
                d.resolve(img);
            };
            return d.promise();
        });
        return Promise.all(promises);
    };
    
    $(function() {
        
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');

        var draw = function(ctx, x, y, width, height, point) {
            
            var OFFSET = 3;
            var mainColor = "#5ca793";
            var bgColor = "#f3f3f5";

            var outerRadius = height / 2;
            var innerRadius = outerRadius - 15;
            var radius = (outerRadius + innerRadius) / 2;
            var innerWidth = width - height;
            
            ctx.clearRect(0, 0, canvas.width, canvas.height); // imnportant for anti-aliasing!
            
            ctx.save();
            ctx.translate(x, y);

            ctx.beginPath();
            ctx.strokeStyle = bgColor;
            ctx.lineWidth = 15;
            ctx.arc(outerRadius , outerRadius, radius, Math.PI / 2, - Math.PI / 2, false);
            ctx.lineTo(outerRadius + innerWidth, 7.5);
            ctx.arc(width - outerRadius , outerRadius, radius, - Math.PI / 2, Math.PI / 2, false);
            ctx.lineTo(outerRadius, height - 7.5);
            ctx.stroke()
            
            load([
                "img/runner_right_colored.png",
                "img/runner_right_grey.png",
                "img/runner_left_colored.png",
                "img/runner_left_grey.png"
            ]).then(function(imgs){
                
                var w = imgs[0].width;
                var h = imgs[0].height;

                var imgRunnerRightColored = imgs[0];
                var imgRunnerRightGrey    = imgs[1];
                var imgRunnerLeftColored  = imgs[2];
                var imgRunnerLeftGrey     = imgs[3];
                
                var runnerInterval = (innerWidth - w) / 4;
                
                for(var i = 0;i < 10;i++){
                    if(i < 5){
                        var img = i + 1 <= point ? imgRunnerRightColored : imgRunnerRightGrey;
                        ctx.drawImage(img, outerRadius + runnerInterval * i, - h + OFFSET);    
                    }else{
                        var img = i + 1 <= point ? imgRunnerLeftColored : imgRunnerLeftGrey;
                        var j = i - 5;
                        ctx.drawImage(img, width - outerRadius - w - runnerInterval * j, height - 15 - h + OFFSET);
                    }
                }

                // main graph
                ctx.beginPath();
                ctx.strokeStyle = mainColor;
                ctx.moveTo(outerRadius, 7.5);
                ctx.lineTo(outerRadius + w + runnerInterval * ((point >= 5 ? 5 : point) - 1), 7.5);
                if(point > 5){
                    ctx.arc(width - outerRadius , outerRadius, radius, - Math.PI / 2, Math.PI / 2, false);
                    var j = point - 5;
                    ctx.lineTo(outerRadius + innerWidth - ( w + runnerInterval * ((j >= 5 ? 5 : j) - 1)), height - 7.5);
                }
                ctx.stroke();
                
                // edges
                ctx.beginPath();
                ctx.fillStyle = mainColor;
                ctx.ellipse(outerRadius, 7.5, 6, 7.5, 0, Math.PI / 2, - Math.PI / 2, false);
                ctx.fill();
                ctx.beginPath();
                if(point <= 5){
                    ctx.ellipse(outerRadius + w + runnerInterval * (point - 1), 7.5, 6, 7.5, 0, - Math.PI / 2, Math.PI / 2, false);
                }else{
                    var j = point - 5;
//                    ctx.lineTo(outerRadius + innerWidth - ( w + runnerInterval * ((j >= 5 ? 5 : j) - 1)), height - 7.5);
                    ctx.ellipse(outerRadius + innerWidth - ( w + runnerInterval * ((j >= 5 ? 5 : j) - 1)), height - 7.5, 6, 7.5, 0, Math.PI / 2, - Math.PI / 2, false);
                }
                ctx.fill();
                
                ctx.restore();
            });
            
        };

        var font = new FontFaceObserver('Roboto', {
            weight: 400
        });

        font.load().then(function () {
            console.log('Font is available');

            $( ".slider" ).slider({
                max: 10,
                min: 1,
                step: 1,
                create: function( event, ui ) {
                    draw(ctx, 50, 50, 300, 100, 1);
                },
                stop: function( event, ui ) {
                    draw(ctx, 50, 50, 300, 100, ui.value);
                }
            });
            
        });
    });
</script>