<style>
  #back_to_machine{
    cursor:pointer;
    bottom: 43px;
    left: 5px;
    position: fixed;
    z-index: 2;
  }
</style>
<div id="back_to_machine"><i class="fa fa-arrow-circle-o-left"></i>Back to Console</div>