<style>
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/css/font/YanoneKaffeesatz-Bold.ttf') ;
    font-weight: 700;
    font-style: normal;
  }

  #livingmes{
    font-family: 'Yanone Kaffeesatz',arial,serif;
    position: absolute;
    top: 10px;
    z-index: 1;
    color: black;
    right: 250px;
  }

  #livingmes div{
    height: 50px;
    display:inline-block;
  }

  #livingmes img{
    height: 100%;
  }
  #livingcnt{
    font-size: 3em;
  }
</style>
<div id="livingmes">
  <div style="float:left;margin: -5px 5px 0px 0px">
    <span id="livingcnt">314</span>
  </div>
  <div>
    <img src="image/fpl.png" />
  </div>
</div>