<% title = "Visualizations" %>

<h1><i class="bar chart icon"></i>Visualizations</h1>

<div class="row">
    <div class="ui link cards">
        <% for(var article of public.viz._data.articles){ %>
        <a href="<%= article.href %>" class="card ui raised">
            <div class="image">
                <img src="<%= article.img || 'https://dummyimage.com/600x400/000/fff' %>"/>
            </div>
            <div class="content">
                <div class="header"><%= article.title %></div>
                <div class="description"><%= article.description %></div>
            </div>
        </a>
        <% } %>
    </div>
</div>

</div>
